#!/usr/bin/make -f

configure: ;

build:
	$(MAKE) all doc/nonogram.1

clean:
	dh clean

install: build
	dh install

binary-indep: install
	dh binary-indep

binary-arch: install
	dh binary-arch

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install configure

# vim:ts=4 sw=4 noet
